<mat-card>
    <mat-card-header>
        <div class="example-header-image" mat-card-avatar></div>
        <mat-card-title data-test="book-card-title">{{
            content.title
            }}</mat-card-title>
        <mat-card-subtitle>{{ content.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img
            [attr.alt]="content.title"
            [ngSrc]="
      content.cover ||
      'https://via.placeholder.com/468x800?text=No%20cover%20available'
    "
            class="book-cover-thumb"
            height="150"
            width="150"
    />
    <mat-card-content>
        <p>
            {{ content.abstract }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button [routerLink]="[content.isbn]" mat-button>DETAILS</button>
    </mat-card-actions>
</mat-card>
